.inform {
    grid-area: inform;
    background-color: rgba(178, 178, 178, 0.1);
    border-radius: 10px;
   }

.avatar {
    width: 300px;
    border-radius: 50px;
}

.contacts {
    padding-left: 20px;
}

.myInfo {
    padding-left: 20px;
    padding-top: 20px;
}