.inform {
    grid-area: inform;
    background-color: rgb(17, 255, 9);
    text-align: center;

}

.ava img {
    width: 100px;
    border-radius: 25px;
}

.selectedPage {
    color: red;
    font-weight: bold;


}

.pages {
    text-align: center;
    font-size: 20px;
}
