.sideBar {
    grid-area: sideBar;
    background-color: brown;
    padding: 20px;
  }

.bars a {
    color: greenyellow;
    text-decoration: none;

}

.bars a.active {
    color: white;
    padding: 20px;
}
.bars {
    padding: 10px;
}